cromwell-executions/
cromwell-workflow-logs/
*~
*Rhistory
test/
data/Oryza_sativa
data/populus
data/populus_vcfs
data/toy_sample
cromwell-46.jar
docker/
metadata/
*.err
*.log
*.sh
*.swp
.devcontainer
