cromwell-executions/
cromwell-workflow-logs/
*~
*Rhistory
data/*_ig
cromwell-46.jar
docker/
metadata/
*.err
*.log
*.swp
.devcontainer
data/populus/
task/cromwell-executions/
task/cromwell-workflow-logs/
.configurations/cromwell-gcp.conf
tasks.zip
figures_gabaritos
*tar.gz