cromwell-executions/
cromwell-workflow-logs/
*~
*Rhistory
test/
data/*_ig
cromwell-46.jar
docker/
metadata/
*.err
*.log
*.swp
.devcontainer
data/populus/reference
.configurations/cromwell_sing_slurm2.conf
.configurations/temp.conf
